{
  "extends": "@antfu",
  "plugins": ["unused-imports", "pretty-imports"],
  "rules": {
    "indent": "off",
    "no-unused-vars": "off",
    // "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-var-requires": "off",
		"unused-imports/no-unused-imports": "warn",
    "pretty-imports/sorted": "warn"
  }
}